/*//BACKGROUND IMG//*/
html {
  background: url("../img/nosara.jpg") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  min-height: calc(100vh - 120px);
  }
/*//TITLE TEXT//*/
h1 {
  color: white;
  font-family: 'Open Sans';
  font-size: 65px;
  margin-top: 60px;
  margin-bottom: -30px;
  margin-left: 10px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
/*//FOOTER//*/
footer {
  width: 100%;
  height: 75px;
  border-radius: 0px 0px 5px 5px;
  clear: both;
}

footer img {
  border-radius: 30%;
  border: 2px #245988 solid;
  transition: 350ms all;
}

footer ul {
  float: right;
  margin-right: 5px;
  margin-top: 60px;
  margin-bottom: 10px;
}

footer ul li {
  float: right;
  margin-right: 30px;
}

/*footer p {
  float: left;
  margin: 87px 21px;
  font-family: Helvetica;
  color: #FFF;
  font-size: 12px;
}*/

footer img:hover {
  cursor: pointer;
  border: 2px white solid;
}
